<p id="notice"><%= notice %></p>

<h1>Parconfigs</h1>

<table class="table table-striped table-hover parconfig">
  <thead>
    <tr>
      <th>id</th>
      <th>User email</th>
      <th>ParSet</th>
      <th>ParVals</th>
      <th>Learner class</th>
      <th>Learner type</th>
      <th>Learner name</th>
      <th>Default</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parconfigs.each do |parconfig| %>
      <tr>
        <td><%= parconfig.id %></td>
        <td><%= parconfig.anon_email %></td>
        <td><%= render 'parset', parset: parconfig.parset %></td>
        <td><%= parconfig.pretty_parvals %></td>
        <td><%= parconfig.learner_class %></td>
        <td><%= parconfig.learner_type %></td>
        <td><%= parconfig.learner_name %></td>
        <td><%= parconfig.default %></td>
        <td><%= parconfig.note %></td>
        <td><%= link_to 'Show', parconfig %></td>
        <td><%= link_to 'Edit', edit_parconfig_path(parconfig) %></td>
        <td><%= link_to 'Destroy', parconfig, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parconfig', new_parconfig_path %>
